<div>
  <nz-page-header class="site-page-header" nzTitle="Home">
    <nz-page-header-extra>
      <nz-space nzSize="large">
        <app-theme-switcher></app-theme-switcher>
        <img
          src="./../../../../../assets/icons/cart-icon.png"
          class="icon"
          srcset=""
        />
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>
  <div nz-row>
    <div nz-col nzSpan="5">
      <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Navigation One" nzIcon="mail" nzOpen>
          <ul>
            <li nz-menu-group nzTitle="Item 1"></li>
            <li nz-menu-group nzTitle="Item 2"></li>
          </ul>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="19"></div>
  </div>
</div>
