.icon {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.cart {
  position: absolute;
  right: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 5;
}
