<div nz-row>
  <nz-table #basicTable [nzData]="selectedProducts" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>
          <button
            nz-button
            nzType="primary"
            nzDanger
            (click)="removeAllProducts()"
          >
            Clear all
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>
          <img [src]="data.image" alt="" [ngStyle]="{ width: '30px' }" />
        </td>
        <td>{{ data.title }}</td>
        <td>{{ data.price }}</td>
        <td>
          <span nz-icon nzType="minus" nzTheme="outline" class="pointer"></span>
          <span>{{ data.quantity }}</span>
          <span nz-icon nzType="plus" nzTheme="outline" class="pointer"></span>
        </td>
        <td></td>
        <td>
          <span
            (click)="removeProduct(i)"
            nz-icon
            nzType="close-circle"
            nzTheme="fill"
            class="pointer"
            [ngStyle]="{ color: 'red', 'font-size': '20px' }"
          ></span>
        </td>
      </tr>
      <tr>
        <td colSpan="4">
          <button nz-button nzType="default" routerLink="/home">
            Continue shopping
          </button>
        </td>
        <td>Total</td>
        <td>
          <button nz-button nzType="default" routerLink="/home">
            Proceed to checkout
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
